<% provide(:title, "About") %>

<div class="center jumbotron">
<p>

<style>
img {
    float: left;
    margin: 0 20px 0px 10px;
}
</style>
Tanisha McRae is a proud business owner and life long Boston resident.

<%=image_tag("toca.png", alt: "Toca Cleaning Company")%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>

<br>
</p>
Tanisha is awesome
like really cool yo
</div>
