<% provide(:title, "Contact") %>

<div class="center jumbotron">
<p>

<style>
img {
    float: left;
    margin: 0 20px 0px 10px;
}
</style>


<%=image_tag("toca.png", alt: "Toca Cleaning Company")%>
<h1> Toca Cleaning Company </h1>
<h5> <center> Servicing the Greater Boston Area, within and around 128  </h5> 
<h2> 
Schedule an Appointment Today!!
</h2>
<h3>
Call Or Text Anytime! <a href="tel:+16177067725"> 1 (617) 706-7725 </a> <br> 
</h3>
<center>
<%= link_to "Call Now! 1 (617) 706-7725", 'tel:+16177067725', class: "btn btn-lg btn-primary" %>
</center>
<h3>
Or Send an E-Mail <a href="mailto:touch8480@hotmail.com"> touch8480@hotmail.com</a> 
</h3>
<center>
<%= link_to "E-Mail Us at touch8480@hotmail.com ", 'mailto:touch8480@hotmail.com', class: "btn btn-lg btn-primary" %>
</center>
</p>
</p>



<%#= link_to image_tag("toca.png", alt: "Toca Logo"),
            'toca.png' %> 



</center>
<h3>
<%=image_tag("env.jpg", alt: "Toca Cleaning Company")%>
Eco-Friendly Products Available! <p> <p>
We Provide All Supplies and Equipment
<p>
<br>
</div>
  </body>
</html>