<% provide(:title, "Services") %>
<div class="jumbotron">
<center>
<h1>Cleaning Services </h1>
</center>
<left>
<div class="left jumbotron">

<h2> Bathroom </h2>
<ul>
	<h3>
	<li> Clean and sanitize tub/shower sink, faucets and toilet </li>
	<li> Mop floor </li>
	<li> 
		Clean shower wall
	 </li>
	 	<li> 
	 	Clean mirror and glass fixtures
	 </li>
	 	<li> 
	 		Clean all door handles and light switches
	 </li>
	</h3>
</ul>
</center>
</div>
</left>
<right>
<div class="jumbotron">
<h2> Kitchen 
</h2>
<ul>
	<h3>
	<li> 
Clean and sanitize 
	</li>
	<li> 
Clean and sanitize all open surfaces
(stove top, oven exterior, fridge exterior, cabinents, drawers and microwave exterior)
	</li>
	<li> 
Vacuum, mop and sanitize floor </li>
</h3> 
</ul>
<h5> <center> Oven, microwave and fridge interior cleaning available for an additional charge
	 </center> </h5> </li>
</ul>
</div>
<div class="center jumbotron">
<h2> Living Room and Open Areas 
</h2>
<ul>
	<h3>
	<li> 
Vacuum and dust sofas, rugs and all open area furniture
	</li>
	<li> 
Dust all applicances, surface tops and wipe all tables
	</li>
	<li> 
Vacuum, mop and sanitize floors including hallways
	 </li>
	</h3>
</ul>
</div>

<h2> Garage 
</h2>
<ul>
	<h3>
	<li> 
Sweep floors
	</li>
	<li> 
Organize Tools
	</li>
	<li> 
Clean car
	 </li>
	 	<li> 
	 	Vacuum socks
	 	</li>
	</h3>
</ul>
</right>
<center>
<%= link_to "Call Now! 1 (617) 706-7725", 'tel:+16177067725', class: "btn btn-lg btn-primary" %>
<%= link_to "E-Mail Us at touch8480@hotmail.com ", 'mailto:touch8480@hotmail.com', class: "btn btn-lg btn-primary" %>
</center>
</p>
</p>