<% provide(:title, "testimonials") %>
<div class="center jumbotron">
<center>
<h1> Before and After </h1>

<%=image_tag("stovetop.png", alt: "Toca Cleaning Company")%>
<p> <br>
<%=image_tag("kitchensink.png", alt: "Toca Cleaning Company")%>
<p>

<h3>Call Anytime! <a href="tel:+16177067725"> 1 (617) 706-7725 </a> </h3>
<%= link_to "Call now!", 'tel:+16177067725', class: "btn btn-lg btn-primary" %>
